fastapi==0.128.0
uvicorn==0.34.3
pydantic==2.11.7
llama-stack-client==0.7.1
python-dotenv==1.1.1
fire==0.7.0
requests==2.32.4
langgraph==0.6.7
langchain==0.3.25
langchain-openai==0.3.32
langchain-core==0.3.75
openai>=1.0.0
mlflow[kubernetes]>=2.15.0
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http
opentelemetry-exporter-prometheus
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
prometheus-client